.filters-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 5px 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(86, 86, 86);


  .checkbox-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

:host {
  ::ng-deep .p-button.p-button-sm {

  }
}
