<div class="filters-wrapper">
  <div class="card flex justify-content-center form-wrapper">
    <!--
        <label class="form-label">Owner</label>
    -->

    <p-multiSelect [(ngModel)]="selectedProjectsAdvanced"
                   [options]="projects"
                   display="chip"
                   placeholder="Project"
                   optionLabel="project_name"
                   [filter]="true"
                   [showClear]="true"
                   appendTo="body"
                   [virtualScroll]="true"
                   [virtualScrollItemSize]="40">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Project', key:'project_name' }"></ng-container>
      </ng-template>

      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
          <p [title]="item.project_name">{{ item.project_name }}</p>
        </div>
      </ng-template>

    </p-multiSelect>
  </div>

  <div class="card flex justify-content-center form-wrapper">
    <!--
        <label class="form-label">Owner</label>
    -->

    <p-multiSelect [(ngModel)]="selectedWorkType"
                   [options]="activityTypes"
                   display="chip"
                   placeholder="Work Type"
                   optionLabel="value"
                   [filter]="true"
                   [showClear]="true"
                   appendTo="body"
                   [virtualScroll]="true"
                   [virtualScrollItemSize]="40">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Work Type', key:'value' }"></ng-container>
      </ng-template>
    </p-multiSelect>
  </div>

  <div *ngIf="!showOnlyProjectFilter" class="card flex justify-content-center form-wrapper">
    <p-multiSelect [(ngModel)]="selectedProjectUserAdvanced"
                   [options]="users"
                   display="chip"
                   placeholder="Project Manager"
                   optionLabel="owner"
                   [filter]="true"
                   [showClear]="true"
                   appendTo="body"
                   [virtualScroll]="true"
                   [virtualScrollItemSize]="40">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Project Manager', key:'owner' }"></ng-container>
      </ng-template>
    </p-multiSelect>
  </div>

  <div *ngIf="!showOnlyProjectFilter" class="card flex justify-content-center form-wrapper">
    <p-multiSelect [(ngModel)]="selectedUserAdvanced"
                   [options]="users"
                   display="chip"
                   placeholder="Work Owner"
                   optionLabel="owner"
                   [filter]="true"
                   [showClear]="true"
                   appendTo="body"
                   [virtualScroll]="true"
                   [virtualScrollItemSize]="40">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Work Owner', key:'owner' }"></ng-container>
      </ng-template>
    </p-multiSelect>
  </div>

  <div *ngIf="!showOnlyProjectFilter" class="card flex justify-content-center form-wrapper">
    <p-multiSelect [(ngModel)]="selectedDepartmentAdvanced"
                   [options]="departments"
                   display="chip"
                   placeholder="Department"
                   optionLabel="value"
                   [filter]="true"
                   [showClear]="true"
                   appendTo="body"
                   [virtualScroll]="true"
                   [virtualScrollItemSize]="40">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Department', key:'value' }"></ng-container>
      </ng-template>
    </p-multiSelect>
  </div>

  <div *ngIf="!showOnlyProjectFilter" class="card flex justify-content-center form-wrapper">
    <p-multiSelect [(ngModel)]="selectedPortfoliosAdvanced"
                   [options]="portfolios"
                   display="chip"
                   placeholder="Portfolio"
                   optionLabel="value"
                   [filter]="true"
                   [showClear]="true"
                   appendTo="body"
                   [virtualScroll]="true"
                   [virtualScrollItemSize]="40">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Portfolio', key:'value' }"></ng-container>
      </ng-template>
    </p-multiSelect>
  </div>

  <div *ngIf="!showOnlyProjectFilter" class="card flex justify-content-center form-wrapper">
    <p-multiSelect [(ngModel)]="selectedPriorityAdvanced"
                   [options]="priorities"
                   display="chip"
                   placeholder="Priority"
                   optionLabel="value"
                   [filter]="true"
                   appendTo="body"
                   [showClear]="true">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Priority', key:'value' }"></ng-container>
      </ng-template>
    </p-multiSelect>
  </div>

  <div *ngIf="!showOnlyProjectFilter" class="card flex justify-content-center form-wrapper">
    <!--
        <label class="form-label">Status</label>
    -->

    <p-multiSelect [(ngModel)]="selectedStatusesAdvanced"
                   [options]="statuses"
                   display="chip"
                   placeholder="Status"
                   optionLabel="name"
                   [filter]="true"
                   appendTo="body"
                   [showClear]="true">
      <ng-template let-value pTemplate="selectedItems">
        <ng-container
          *ngTemplateOutlet="inputTemplate; context: { $implicit: value, placeholder: 'Status', key:'name' }"></ng-container>
      </ng-template>
    </p-multiSelect>
  </div>

  <div class="flex flex-col" *ngIf="viewType !== 'gantt'">
    <p-calendar class="rangeCalendar" [appendTo]="'body'" [(ngModel)]="dateRange"
                [placeholder]="'Date Period'" dateFormat="M d yy" selectionMode="range" [numberOfMonths]="2">
      <ng-template pTemplate="header">
        <div class="flex gap-5 pl-5 pb-2">
          <p-dropdown [options]="dateTypes" [(ngModel)]="selectedDateType" optionLabel="name" [showClear]="false" placeholder="Date Type"></p-dropdown>
          <ng-container *ngFor="let filter of allDateFilters">
            <p-chip class="cursor-pointer" [ngClass]="{'selected-chip': filter.value === selectedPreselectDateRange}"
                    [label]="filter.label" (click)="applyRange(filter.daysToPass, filter.value)"></p-chip>

          </ng-container>
        </div>
        <hr>
      </ng-template>
    </p-calendar>
  </div>

  <p-button styleClass="p-button-sm" label="Apply" (click)="apply()"></p-button>
  <p-button styleClass="p-button-link" label="Clear" (click)="clearFilters()"></p-button>

  <div class="checkbox-wrapper" *ngIf="viewType === 'gantt'">
    <p-checkbox inputId="ny" [(ngModel)]="isProjectsExpanded" [binary]="true"
                (ngModelChange)="toggleExpansion()"></p-checkbox>
    <label for="ny" style="font-size: 13px">{{ !isProjectsExpanded ? 'Expand' : 'Expand' }}</label>
  </div>

</div>


<ng-template #inputTemplate let-value let-placeholder="placeholder" let-key="key">
  <div class="start-item-flex" *ngFor="let option of value">
    <span class="custom-select-chip" [title]="option[key]">{{ option[key] }} </span>
  </div>
  <div *ngIf="!value || value.length === 0">{{ placeholder }}</div>
</ng-template>
