<p-progressSpinner class="item-center-n-relative"
                   *ngIf="!projectDetails">
</p-progressSpinner>

<app-header *ngIf="!hideHeader && viewType" [viewType]="viewType"></app-header>

<div class="full-height-element" *ngIf="isLoggedIn && projectDetails">

  <div class="content-wrapper">
    <app-filters *ngIf="viewType" [viewType]="viewType" [showOnlyProjectFilter]="showOnlyProjectFilter"></app-filters>
    <app-breadcrumbs-tree></app-breadcrumbs-tree>
    <app-kanban-view *ngIf="viewType==='kanban'"></app-kanban-view>
    <app-gantt-view *ngIf="viewType==='gantt'"></app-gantt-view>
  </div>
</div>

<p-toast></p-toast>
