<header class="h-[80px] w-full shadow-sm">
  <div class="pl-5 pt-2 pr-5 flex items-center w-full justify-between header-wrapper">
    <div class="title-wrapper">
      <img src="assets/cinchy_logo.png" alt="logo" style="height:70px" (click)="goBack()"
           class="p-2">

      <i class="pi pi-check-square"></i>
      <h1 class="">{{ viewType === 'kanban' ? 'Kanban' : viewType === 'gantt' ? 'Gantt Chart' : '' }}</h1>
    </div>

    <div class="search-input-wrapper">
      <p-button styleClass="p-button-sm" label="Copy URL" icon="pi pi-copy" class="p-button-text"
        [cdkCopyToClipboard]="currentUrl$ | async"
              (cdkCopyToClipboardCopied)="onClipboardCopy($event)"
      >
      </p-button>

      <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input class="search-input" placeholder="Search.." type="search" pInputText [(ngModel)]="searchValue"
             (ngModelChange)="valueChanged()"/>
      </span>

    </div>
  </div>
</header>
