/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "colors.scss";


body {
  margin: 0;
}


@each $color-name, $color-hex in $colors {
  .task-#{$color-name} {
    background-color: $color-hex !important; // or `color` if you want to change the text color
    color: #475466 !important;
  }
  .webix_kanban .webix_accordionitem {
    &.task-#{$color-name} > * {
      background-color: $color-hex !important; // or `color` if you want to change the text color
      color: #475466 !important;
    }
  }

  .kanban-task-#{$color-name} {
    .webix_kanban_list_content {
      //  background-color: $color-hex !important; // or `color` if you want to change the text color
      border-left: 6px solid $color-hex !important; // or `color` if you want to change the text color
      color: #475466 !important;
    }
  }
}

.w-full {
  width: 100%;
}

.item-center-n-relative {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999999;
}

.p-multiselect.p-multiselect-chip .p-multiselect-label {
  font-size: 12px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  font-size: 14px;
}

.p-multiselect-filter-container {
  .p-multiselect-filter{
    padding: 5px;
  }
}

.filters-wrapper {

  .p-autocomplete-multiple-container, .p-multiselect {
    min-width: 148px;
    max-width: 148px;
  }

  .p-button {
    padding: 5px 10px !important;
    font-size: 14px;
  }

  .p-inputtext {
    min-width: 130px;
    max-width: 130px;
    font-size: 14px;
  }

  .form-label {
    margin-right: 10px;
  }

  .p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0;
    margin-right: 5px;
  }

  .p-multiselect .p-multiselect-label, .p-inputtext {
    padding: 6px !important;
    display: flex;
    .custom-select-chip {
      background: rgb(0, 191, 255, 0.1);
      padding: 0 2px;
      border: 1px solid aliceblue;
      border-radius: 5px;
      color: #1d4ed8;
    }
  }
}

.content-wrapper {
  .quick_info_line {
    padding: 3px;
  }

  // WEBIX OVERRIDE
  .webix_gantt_tree, .webix_hs_center, .webix_ss_center {
    min-width: 540px !important;
  }

  .webix_accordionitem_label {
    padding-left: 10px !important;
    font-size: 13px !important;
  }

  .webix_kanban_body {
    font-weight: 400;
    font-size: 12px;
  }

  .webix_accordionitem .webix_accordionitem_header .webix_accordionitem_button {
    color: #485466;
  }

}


.filters-wrapper {
  .p-icon {
    width: 0.6rem;
    height: 1rem;
  }

  p-multiselect.p-multiselect-clearable .p-multiselect-label-container {
    height: 26px;
    padding-right: 1.5rem;
  }

  p-multiselect.p-multiselect-clearable .p-multiselect-clear-icon {
    right: 1.5rem;
  }

  .p-multiselect .p-multiselect-trigger {
    width: 1rem;
  }
}

.custom-tag {
  border-radius: 10px;
  border: 1px solid aliceblue;
  padding: 0 10px;
  color: black;
  font-size: 10px;
}

.center-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-item-flex {
  display: flex;
  align-items: center;
  justify-content: start;
}




//"\F015"
