/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "colors.scss";

//Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.hidden {
  display: none !important;
}

.nic-editor, .webix_richtext {
  margin-top: 0 !important;
}

.webix_richtext_editor {
  white-space: pre-wrap !important;
}


@each $color-name, $color-hex in $colors {
  .task-#{$color-name} {
    background-color: $color-hex !important; // or `color` if you want to change the text color
    color: #475466 !important;
  }
  .webix_kanban .webix_accordionitem {
    &.task-#{$color-name} > * {
      background-color: $color-hex !important; // or `color` if you want to change the text color
      color: #475466 !important;
    }
  }

  .kanban-task-#{$color-name} {
    .webix_kanban_list_content {
      //  background-color: $color-hex !important; // or `color` if you want to change the text color
      border-left: 6px solid $color-hex !important; // or `color` if you want to change the text color
      color: #475466 !important;
    }
  }
}

.w-full {
  width: 100%;
}

.item-center-n-relative {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999999;
}

.p-multiselect.p-multiselect-chip .p-multiselect-label {
  font-size: 12px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  font-size: 14px;
}

.p-multiselect-filter-container {
  .p-multiselect-filter{
    padding: 5px;
  }
}

.filters-wrapper {

  .p-icon {
    width: 0.6rem;
    height: 1rem;
  }

  p-multiselect.p-multiselect-clearable .p-multiselect-label-container, .p-calendar {
    height: 26px;
    padding-right: 1.5rem;
  }

  p-multiselect.p-multiselect-clearable .p-multiselect-clear-icon {
    right: 1.5rem;
  }

  .p-multiselect .p-multiselect-trigger {
    width: 1rem;
  }

  .p-autocomplete-multiple-container, .p-multiselect, .p-calendar .p-inputtext {
    min-width: 140px;
    max-width: 140px;
  }

  .p-button {
    padding: 5px 10px !important;
    font-size: 14px;
  }

  .p-inputtext, .p-calendar .p-inputtext {
    min-width: 130px;
    max-width: 130px;
    font-size: 14px;
  }

  .form-label {
    margin-right: 10px;
  }

  .p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0;
    margin-right: 5px;
  }

  .p-multiselect .p-multiselect-label, .p-inputtext, .p-calendar .p-inputtext {
    padding: 6px !important;
    padding-top: 4px !important;
    display: flex;
    font-size: 12px;
    .custom-select-chip {
      background: rgb(0, 191, 255, 0.1);
      padding: 0 2px;
      border: 1px solid aliceblue;
      border-radius: 5px;
      color: #1d4ed8;
    }
  }

  .p-multiselect .p-multiselect-label.p-placeholder, input::placeholder {
    color: grey;
  }
}

.p-button.p-button-sm {
  font-size: 14px;
  padding: 0.45625rem 0.39375rem;

  &.p-button:enabled:hover {
    opacity: 0.8;
  }

  & >*{
    font-weight: 400;
  }
}

.p-dropdown .p-dropdown-label {
  padding: 6px !important;
}

.p-chip {
  color: #495057;
  border-radius: 16px;
  padding: 0 0.5rem;
}

.p-chip {
  background-color: #fff!important;
  border: 1px solid #dee2e6;
}

.selected-chip .p-chip {
  background-color: #dee2e6!important;
  border: 1px solid whitesmoke;
}

.content-wrapper {
  .quick_info_line {
    padding: 3px;
  }

  // WEBIX OVERRIDE
  .webix_gantt_tree, .webix_hs_center, .webix_ss_center {
    min-width: 540px;
  //  width: 540px;
  }

  .webix_accordionitem_label {
    padding-left: 10px !important;
    font-size: 13px !important;
  }

  .webix_kanban_body {
    font-weight: 400;
    font-size: 12px;
  }

  .webix_accordionitem .webix_accordionitem_header .webix_accordionitem_button {
    color: #485466;
  }

  .gantt-action-column > * {
    visibility: hidden;
  }

  .webix_gantt_content {
    overflow: visible;
    color: #1c1c1c;

  }
}

.webix_gantt_link_left, .webix_gantt_link_right {
  display: none;
}

/* customizing all folders and files in a tree */
/*
.webix_tree_folder, .webix_tree_folder_open{
  background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") !important;
  background-position: 0px 4px !important
}
.webix_tree_file{
  background-image: url(//docs.webix.com/samples/17_datatree/03_styles/icons/file.png);
  background-position: 0px 4px !important;
}

.webix_tree .webix_tree_folder:before,
.webix_tree .webix_tree_folder_open:before,
.webix_tree .webix_tree_file:before, webix_tree_folder_open:before{
  content:"" !important;
}
*/


.custom-tag {
  border-radius: 10px;
  border: 1px solid aliceblue;
  padding: 0 10px;
  color: black;
  font-size: 10px;
  min-height: 20px;
  margin-bottom: 5px;
}

.center-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-item-flex {
  display: flex;
  align-items: center;
  justify-content: start;
}




//"\F015"
