/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


body {
  margin: 0;
}

.item-center-n-relative {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999999;
}

.filters-wrapper {

  .p-autocomplete-multiple-container, .p-multiselect {
    min-width: 250px;
    max-width: 250px;
  }

  .p-inputtext{
    min-width: 250px;
    max-width: 250px;
  }

  .form-label {
    margin-right: 10px;
  }

  .p-multiselect.p-multiselect-chip .p-multiselect-token{
    padding: 0;
    margin-right: 5px;
  }

  .p-multiselect .p-multiselect-label, .p-inputtext {
    padding: 6px;
  }

  .p-button {
    padding: 8px 10px;
  }
}

.task-light-gray {
  background: #D3D3D3 !important;
  color: #475466;
}

.task-light-green {
  background: #C8E6C9 !important;
  color: #475466;
}

.task-light-red {
  background: #F8BBD0 !important;
  color: #475466;
}

.task-light-yellow {
  background: #FFF9CF !important;
  color: #475466;
}


.task-light-blue {
  background: #BBDEFB !important;
  color: #475466;
}

.task-light-indigo {
  background: #C5CAE9 !important;
  color: #475466;
}

.mytask0 {
  background: #eb2f89 !important;
}
.mytask1 {
  background: #ffeb6f !important;
  color: #475466;
}
.mytask2 {
  background: #a9a8a8 !important;
}
.mytask3 {
  background: #d1df77 !important;
  color: #475466;
}
.mytask4 {
  background: #e7a90b !important;
}
.mytask5 {
  background: #0bbed7 !important;
}
.mytask6 {
  background: #038cd9 !important;
}
